<div class='row'>
    <div class="col-10 offset-1 principal">
        <br/>
        <h3>Busqueda avanzada</h3>
        <br />
        <form>
            <div class="row" >
                <div class="col-4 principal">
                    <div class="form-group principal">
                        <label for="tarea">Tarea</label>
                        <input type="text" class="form-control" id="tarea" name="tarea" [(ngModel)]="filtro.tarea">
                    </div>
                </div>
                <div class="col-4  principal">
                    <div class="form-check principal">
                        <input type="checkbox"  class="form-check-input" id="realizada" name="realizada" [(ngModel)]="filtro.realizada">
                        <label for="realizada" class="form-check-label">Realizada</label>
                    </div>
                </div>
                <div class="col-4 principal">
                    <div class="form-group principal">
                        <button  type="button" class="btn btn-success" (click)="filtrar()">Buscar</button>
                    </div>
                </div>
        </div>
        </form>
        <br />
        <br />
    </div>
</div>
